.item-1 {
    background-color: red;
}
.item-2 {
    background-color: yellow;
}
.item-3 {
    background-color: blueviolet;
}
.item-4 {
    background-color: blue;
}
h1 {
    color: limegreen;
}

.container {
    background-color: pink;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 120px 310px;
    row-gap: 50px;
    column-gap: 100px;
}